body {
	background: url(BG.jpg) no-repeat;
	margin: 0px;	
}
.box {
	position: absolute;
	width: 555px;
	height: 515px;
	background: rgba(16, 16, 16, 0.5);
	top: 272px;
   	margin-left: -275px;
   	left:50%;
	border-radius:2px;
	font-family: "Roboto";
	padding-top: 35px;
}
.vhod {
	width: 300px;
	height: 30px;
	background: #0f0f0f;
	margin-top: 20px;
	border: none;
	box-shadow: 0 0 25px 0 #41708a;
	padding-left: 15px;
	color: white;
}

.vhod:focus {
	background: #1b5288;
	animation: blue1input ;
	animation-duration: 0.7s;
	box-shadow: 0 0 25px 0 #0081ff;
	color: white;
}

@keyframes blue1input{
	from {background: #1b5288; opacity:0.4;box-shadow: 0 0 25px 0 #0081ff;}
	to {background: #1b5288; opacity: 1;box-shadow: 0 0 25px 0 #0081ff;}
}
@keyframes style-menu{
	from {background:#4eabda; opacity:0.4;}
	to {background: #4eabda; opacity: 1;}
}
.sendbike {
	width:280px ;
	height: 30px;
	font-size: 15px;
	color: #b3b3b3;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}
.registration {
	width: 300px;
	height: 400px;
	margin:0px 127px;
}

.createacc {
	width: 300px;
	height: 200px;
	font-size: 11px;
	color: #b3b3b3;
}
.createacc [type="submit"] {
	width: 150px;
	height: 34px;
	background: #4ba7d8;
	font-size: 15px;
	border-radius: 3px;
	color: white;
	border: none;
}
.top-menu {
	padding-left: 30%;
	padding-right: 0;
	width: 70%;
	height: 35px;
	background: url(bg-for-menu.jpg) repeat-x;

}
.top-menu li {
	padding-top: 8px;
	width: 100px;
	text-align: center;
	height: 27px;
	display: inline-block;
	list-style: none;
}
.top-menu li a {
	color: #4e9ed7;
	text-decoration: none;
}

.top-menu li:not(:nth-child(6)):hover {
	animation: style-menu ;
	animation-duration: 0.7s;
	background: #4eabda;
}

.top-menu li:hover a,.top-menu li:nth-child(6) a,.registration h2,.facebook-button,.top-menu li:last-child a,.codastre h2{
	color:white;
	font-family: "Roboto";
}
.top-menu li:nth-child(6) {
	width: 170px;
	border-left: 1px solid #4e9ed7;
	padding-left: 10px;
	background: url(flag.jpg) no-repeat;
	background-position: left;
}
.top-menu li:nth-child(6):hover {
	background: url(flag.jpg) no-repeat;
	background-position: left;
}
.registration h2, .createacc ,.go-facebook {
	text-align: center;
}

.facebook-button {
	display: block;
	text-decoration: none;
	background: url(facebook-go.jpg) no-repeat right 30px center,
				url(bgfacebook.jpg) repeat-x;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 258px;
	height: 27px;
	float: right;
	text-align: center;
	padding-top: 8px;
	border-left: 1px solid #7789b7;
	margin-bottom: 10px;
}
.facebook-logo{
	float: left;
	display: block;
	height: 35px;
	width: 40px;
	background: url(facebook.jpg) no-repeat 10px 5px,
				url(bgfacebook.jpg) repeat-x;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid #1f3d73;
}
.top-menu li:last-child a {
	background: #4eabda;
	width: 220px;

}
.top-menu li:last-child  {
	background: #4eabda;
	width: 220px;
}
.codastre {
	position: absolute;
	width: 555px;
	height: 60px;
	background: rgba(16, 16, 16, 0.5);
	top: 210px;
   	margin-left: -275px;
   	left:50%;
   	text-align: center;
   	border-radius:2px;
}

.line {
	content: "";
	width: 45%;
	height: 2px;
	background: grey;
}
.ou {
	margin-top:10px;
	text-align: center;
}

.ou::after {
	content: "";
	width: 45%;
	height: 2px;
	background: grey;
}