body {
	background: url(Background.jpg) repeat-x;
	
}
#container {
	box-shadow: 0px 10px 45px 1px;
	border-radius: 2px;
	margin: auto;
	width: 995px;
	height:985px;
	background: white;
	font-family: "Roboto";
}
header {
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	width: 995px;
	height: 167px;
	background: url(Logo.jpg) 35px 0px no-repeat white;
}
div.picwithsea {
	width: 995px;
	height: 230px;
	background: url(PicSea.jpg) no-repeat;
}
nav ul {
	background: url(menubg.jpg) repeat-x;
	margin:0px;
	padding: 0px;
	box-shadow: 0 3px 10px 0 #303030;
}
nav ul li {
	display: inline-block;
	list-style: none;	
	width: 142px;
	height: 22px;
	background: url(menubg.jpg) repeat-x;
	text-align: center;
	padding-top: 6px;

}
nav ul li:not(:first-child){
	margin-left: -5px;
}
nav ul li:last-child {
	width: 149.2px;
}
nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 13px;

}
.submenu {
	padding: 0px;
	margin: 6px 0 0 0;
	display: none;
    position: absolute;
    box-shadow: none;
	box-shadow: 0 -5px 6px  0 #303030;
}
.submenu > li {
	list-style: none;
    display: block;
    background: #303030;
	
}
nav ul li:hover .submenu {
	display: block;
	animation: invs  0.4s  ease-in-out;
}
.submenu li:last-child {
	width: 142px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 0 5px 10px -4px #303030;

}
.submenu li:not(:first-child){
	margin-left: 0px;
}

@keyframes invs {
	from {opacity: 0;}
	to {opacity: 1;}
}
main {
	text-align: center;
	word-wrap: break-word;
	font-family: "Roboto";
	float: left;
	width: 995px;
	height: 550px;
	margin: 6px 0 0 0;
	line-height: 25px;
}

.Clear-page {

	float: left;
	width: 495px;
	background: white;
	height: 100%;
}
.Information {
	padding :0 20px 0 15px;
	width: 215px;
	background: #edeef0;
	height: 100%;
	float: left;
}
.News {
	padding :0 20px 0 15px;
	width: 215px;
	background: #edeef0;
	height: 100%;
	float: right;
}

.country {
	position:relative;
	top: 100px;
	left: 160px;
	height: 60px;
	right: 35px;
	float: right;
	font-size: 11px;

}
.country figure {
	text-align: center;
	word-break: normal;
	margin:0px;
	width: 65px;
	margin-right: -6px;
	display: inline-block;
}
.info {
	font-size: 12px;
	float: right;
	width: 200px;
	height: 80px;
	line-height: 8px;
}